@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #3E3232;
}

h3 {
  font-size: 25px;
  font-weight: 400;
}

h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
}

h5 {
  font-size: 16px;
  font-weight: 500;
}

h6 {
  font-size: 13px;
  font-weight: 500;
  opacity: 0.75;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.75;
}

.shadow {
  box-shadow: 0px 0px 32px 0px rgb(213, 213, 213)
}

.red-hover:hover p {
  color: #F81539;
  transition: color 0.3s;
}

.red-hover:hover svg {
  fill: #F81539;
  transition: fill 0.3s;
}

.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropbtn svg {
  transition: transform 0.3s;
}

.dropbtn:hover svg {
  transform: rotate(180deg);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown-categories {display: grid;}

.dropdown:hover .dropbtn {
  text-decoration-line: #3E3232;
}

.dropdown-categories {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color: white;
  z-index: 1;
  left: -170px;
  border-radius: 12px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.car { grid-area: 1 / 1 / 2 / 2; }
.tech { grid-area: 2 / 1 / 3 / 2; }
.girl { grid-area: 1 / 2 / 2 / 3; }
.sport { grid-area: 2 / 2 / 3 / 3; }
.food { grid-area: 1 / 3 / 2 / 4; }
.music { grid-area: 2 / 3 / 3 / 4; }

.dropdown:hover .dropdown-pages {display: flex;}

.dropdown-pages {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  flex-direction: column;
  background-color: white;
  z-index: 1;
  border-radius: 12px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  }

.carousel-category-card h5{
  position: absolute;
  color: white;
  top: 14px;
  padding-left: 74px;
}

.carousel-category-card img{
  width: 200px;
  height: 48px;
  object-fit: cover;
  border-radius: 12px;
}

.banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 0px;
}


.image-container {
  position: relative;
  width: 100%;
  max-width: 100%; /* Для поддержки адаптивности */
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.text-overlay h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.text-overlay p {
  font-size: 1.5em;
}



